*, body {
    padding: 0;
    margin: 0;
}

#shop-wrapper {
    display: flex;
    flex-direction: row;
}

#fetched-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70vw;
}

#shop-list {
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100vh;
    padding: 20px 0 20px 0;
    background-color: #dfe7c9;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin: 10px;
    padding: 10px 20px;
    background-color: lightgrey;
}

.card-image {
    width: 100px;
    transition: all 0.3s;
}

.card-image:hover {
    cursor: pointer;
    width: 120px;
}

.card-bottom-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-title {
    width: 150px;
}

.card-price {
    font-weight: bold;
    font-size: 16px;
    margin: 0 5px;
}

.buy-button {
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 12px;
}

.buy-button:hover {
    background-color: green;
    cursor: pointer;
}

.delete-button {
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 12px;
    margin-left: 10px;
}

.delete-button:hover {
    background-color: red;
    cursor: pointer;
}

.list-item-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

.list-item-wrapper:hover {
    background-color: cadetblue;
    cursor: default;
}

.list-item-image {
    height: 30px;
    width: 30px;
    margin: 0 10px;
}

.list-item-title {
    width: 50%;
}