*, body {
    padding: 0;
    margin: 0;
}
#fetched-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin: 10px;
    padding: 10px 20px;
    background-color: lightgrey;
}
.card-image {
    width: 130px;
}
.card-bottom-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card-title {
    width: 150px;
}
.buy-button {
    width: 40px;
    height: 40px;
}
.buy-button:hover {
    background-color: green;
    cursor: pointer;
}
